*{
    margin:0;
    padding:0
}
li{
    list-style:none
}
img{
    vertical-align:top;
    border:none
}
hr {
    border: none;
    height: 1px;
}
ul,ol { 
    margin: 0;
    padding: 0;
    list-style: none；
}
button{
    border:0;
    background-color:none;
    outline:none;
    -webkit-appearance: none;
}
a{
    text-decoration:none;
    color:#333;
}
input{
    border: none;
    appearance:none;
    -moz-appearance:none;
    outline:none;
}

