
.Coldplay-title{
    width: 100%;
    text-align: center;
    line-height: 50px;
    font-size: 50px;
    display: block;
}
.Coldplay {
    margin: 20px auto;
    width: 450px;
    height: 50px;
    
    list-style-type: none;
}
.Coldplay li{
    width: 150px;
    text-align: center;
    line-height: 50px;
    float: left;
    font-size: 20px;
    color: rgb(167, 164, 164);
    overflow: hidden;
}
.main{
    width: 100%;
    
    background-color: #F7F7F7;
    
}
.Latest-ul{
    width: 70%;
    margin: 0px auto;
    position: relative;
    top: 20px;
    overflow: hidden;

}
.Latest-ul li{
    
        margin: 30px 20px;
        width: 220px;
        background-color:#FFFFFF;
        background-size: contain;
        border-radius: 10px;
        float: left;
        height: 240px;
        border: 1px solid #ccc;   
    
}
p{
    margin: 10px 10px;
}
.li-p{
    font-size: 13px;
    color: #ccc;
}
.li-div2{
    height: 50px;
}
.center-icon{
    width: 200px;
    margin: 10px 5px 10px 10px; 
    position: relative;
}
.xin{
    font-size: 13px;
    padding-left: 20px;
    background:url(../img/xin.png)no-repeat ;
    background-size: 60%;
    position: absolute;
    right: 30px;
}
.look{
    font-size: 13px;
    padding-left: 20px;
    background: url(../img/reply.png)no-repeat;
    background-size: 60%;
    position: absolute;
    right: 0px;
}

img{
   border-radius: 10px 10px 0px 0px ;
}

.more{
    width: 100%;
    height: 50px;
    text-align: center;
    line-height: 50px;
    float: left;
    
   
}
.more a{
    color: red;
}
